@tailwind base;
@tailwind components;
@tailwind utilities;

.label-disabled {
    @apply opacity-50 pointer-events-none;
}

/* React flow node edges */
.react-flow .react-flow__handle {
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background-color: #D3D3D3;
    border-color: transparent;
  }